.main-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vacancies-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  height: calc(100vh - 115px);
  overflow-y: scroll; /* Включение прокрутки */
  scrollbar-width: none; /* Firefox */
}

.vacancies-container::-webkit-scrollbar {
  display: none; /* Safari и Chrome */
}
