<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/125ee9bf92.js"
      crossorigin="anonymous"
    ></script>
    <title>Title</title>
    <!-- <link rel="stylesheet" href="public/styles/redesign/main_panel_style.css" /> -->
    <link rel="stylesheet" href="public/styles/redesign/side_panel_style.css" />
    <link rel="stylesheet" href="public/styles/redesign/bar_style.css" />
    <link rel="stylesheet" href="public/styles/redesign/general_styles.css" />
    <link rel="stylesheet" href="public/styles/redesign/card_style.css" />
  </head>
  <body>
    <div class="pattern"></div>

    <div class="everything">
      <!-- SIDE -->
      <section class="side-panel">
        <div class="zzzz-container">
          <span class="z-letter" id="1">Z</span>
          <span class="z-letter" id="2">Z</span>
          <span class="z-letter" id="3">Z</span>
          <span class="z-letter" id="4">Z</span>
          <span class="z-letter" id="5">Z</span>
        </div>
      </section>

      <!-- MAIN -->
      <section class="main-panel">
        <!-- task bar -->
        <section class="bar">
          <!-- left side -->
          <div class="left-part">
            <a href="#" class="button" id="newest-btn">Newest</a>
            <div class="dropdown">
              <button class="button" id="filters-btn">
                <i class="fa-solid fa-arrow-down-wide-short"></i>
                Filters
              </button>
              <!-- <div class="dropdown-content">
                      <a href="#">Show all</a>
                      <a href="#">Show applied to</a>
                    </div> -->
            </div>
          </div>
          <!-- right side -->
          <div class="right-part">
            <a href="#" class="button icon-btn"
              ><i class="fa-solid fa-paper-plane"></i
            ></a>
            <a href="#" class="button icon-btn"
              ><i class="fa-solid fa-envelope"></i
            ></a>
            <a href="#" class="button icon-btn"
              ><i class="fa-solid fa-bookmark"></i
            ></a>
            <img
              src="/public/images/avatar.jpg"
              alt="Profile picture"
              id="profile-picture"
            />
          </div>
        </section>

        <!-- place for vacancies cards -->
        <section class="vacancies-container">
          <!-- card -->
          <div class="card">
            <div class="info-text">
              <h1 class="position-title">Grafik Petit creative</h1>
              <h3 class="company-name">Petit Press, a.s.</h3>
              <h3 class="location-name">Práca z domu</h3>
            </div>
            <div class="clickables">
              <div class="icons">
                <i class="fa-solid fa-xmark"></i>
                <!-- <i class="fa-solid fa-star"></i> -->
                <i class="fa-regular fa-star"></i>
              </div>
              <div class="card-buttons">
                <a href="#" class="button details-btn">Details</a>
                <a href="#" class="button apply-btn"
                  >Apply<i class="fa-solid fa-moon"></i
                ></a>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
