<!-- Details section panel (side panel) -->

<div class="details-panel hidden">
  <h1 class="details-card-position">Grafik Petit creative</h1>
  <h3 class="details-card-location">Praca z domu</h3>
  <div class="details-card">
    <div class="details-card-name">
      <h3><i class="fa-solid fa-gear"></i>Salary</h3>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="details-card-info">
      <p>1400eur/mesiac</p>
    </div>
  </div>
  <div class="details-card">
    <div class="details-card-name">
      <h3><i class="fa-solid fa-gear"></i>Knowledge</h3>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="details-card-info">
      <p>Adobe Photoshop</p>
      <p>Adobe Illustrator</p>
      <p>Adobe inDesign</p>
    </div>
  </div>
  <div class="details-card">
    <div class="details-card-name">
      <h3><i class="fa-solid fa-gear"></i>Experience</h3>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="details-card-info">
      <p>3 roky praxe v grafickom dizajne</p>
    </div>
  </div>

  <div class="side-btn-container">
    <i class="fa-solid fa-xmark"></i>
    <a href="#" class="button apply-btn">Apply</a>
    <!-- <i class="fa-solid fa-star"></i> -->
    <i class="fa-regular fa-star"></i>
  </div>
</div>
