<div style="display: flex; flex-direction: column; gap: 15px">
  <h1 class="details-card-position">Grafik Petit creative</h1>
  <h3 class="details-card-location">Praca z domu</h3>
  <div class="additional-info">
    <h5 id="hasExpired">Expired</h5>
    <h5 id="haveApplied">Already applied</h5>
  </div>
</div>

<!-- Card -->
<div class="details-card">
  <div class="details-card-name">
    <h3><i class="fa-solid fa-gear"></i>Salary</h3>
    <i class="fa-solid fa-chevron-down"></i>
  </div>
  <div class="details-card-info">
    <p>1400eur/mesiac</p>
  </div>
</div>

<!-- Buttons part -->
<div class="side-btn-container">
  <i class="fa-solid fa-xmark"></i>
  <a href="#" class="button apply-btn" target="_blank">Apply</a>
  <!-- <i class="fa-solid fa-star"></i> -->
  <i class="fa-regular fa-star"></i>
</div>
