<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/125ee9bf92.js"
      crossorigin="anonymous"
    ></script>

    <!-- JQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <script src="{{ url_for('static', filename='scripts/details_ajax.js') }}"></script>

    <title>Parser | Main page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/redesign/main_panel_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/redesign/side_panel_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/redesign/bar_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/redesign/general_styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/redesign/card_style.css') }}"
    />
  </head>
  <body>
    <div class="pattern"></div>

    <div class="everything">
      <!-- SIDE -->
      <section class="side-panel">
        {% include 'includes/details_panel.html' %}

        <div class="zzzz-container">
          <span class="z-letter" id="z1">Z</span>
          <span class="z-letter" id="z2">Z</span>
          <span class="z-letter" id="z3">Z</span>
          <span class="z-letter" id="z4">Z</span>
          <span class="z-letter" id="z5">Z</span>
        </div>
      </section>

      <!-- MAIN -->
      <section class="main-panel">
        <!-- task bar -->
        <section class="bar">
          <!-- left side -->
          <div class="left-part">
            <a href="/" class="button" id="newest-btn">Newest</a>
            <div class="dropdown">
              <button class="button" id="filters-btn">
                <i class="fa-solid fa-arrow-down-wide-short"></i>
                Filters
              </button>
              <!-- <div class="dropdown-content">
                      <a href="#">Show all</a>
                      <a href="#">Show applied to</a>
                    </div> -->
            </div>
          </div>
          <!-- right side -->
          <div class="right-part">
            <a href="/" class="button icon-btn"
              ><i class="fa-solid fa-paper-plane"></i
            ></a>
            <a href="/" class="button icon-btn"
              ><i class="fa-solid fa-envelope"></i
            ></a>
            <a href="/" class="button icon-btn"
              ><i class="fa-solid fa-bookmark"></i
            ></a>
            <a href="/"
              ><img
                src="{{ url_for('static', filename='images/avatar.jpg') }}"
                alt="Profile picture"
                id="profile-picture"
            /></a>
          </div>
        </section>

        <!-- place for vacancies cards -->
        <section class="vacancies-container">
          <!-- here goes the vacation card -->
          {% for vac in vacancies %} {% with vac=vac %} {% include
          'includes/card.html' %} {% endwith %} {% endfor %}
        </section>
      </section>
    </div>
  </body>
</html>
